.bag {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 0px 50px;
}

@media (max-width: 400px) {
    .bag {
        padding: 0px 10px;
    }
}

.top {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    transition: background-color 0.2s ease-in-out;
    margin-top: 20px;
}

.top:hover {
    background-color: #d4d4d4;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1220px) {
    .bottom {
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
}