.bagContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none; /* Prevents text selection */
}

/* Number inside bag */
.bagNumber {
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold;
    color: black;
    user-select: none; /* Prevents text selection */
}
