.sidebarColor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    margin: 15px;
    width: 100%;
}

.colorContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 90px);
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    width: 100%;
}

.open {
    height: 260px;
}

.colorBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    padding: 15px 10px;
    transition: background-color 0.3s ease-in-out;
    user-select: none;
}

.colorBox:hover {
    background-color: #e5e5e5;
}

.checked {
    animation: scaleUpDown 0.5s ease;
}

@keyframes scaleUpDown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.colorIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.p {
    font-size: 12px;
    margin-top: 5px;
}


/* Colors */
.Black {
    background-color: black;
}
.Red {
    background-color: red;
}
.Blue {
    background-color: blue;
}
.Green {
    background-color: green;
}
.Yellow {
    background-color: yellow;
}
.Purple {
    background-color: purple;
}
.Orange {
    background-color: orange;
}
.Brown {
    background-color: brown;
}