.shoppingList {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 1220px) {
    .shoppingList {
        width: 100%;
        padding: 20px;
    }
}

.fruitCard {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.imgContainer {
    padding: 50px;
    background-color: rgb(245, 245, 245, 1);
    border-radius: 10px;
}

.imgContainer img {
    width: 50px;
    height: auto;
}

.stockInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.stockInfoLeft {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 60px;
    align-items: center;
}

@media (max-width: 700px) {
    .stockInfoLeft {
        flex-direction: column;
        gap: 30px;
    }
}

.fruitInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3px;
}

.family {
    font-size: 16px;     
    color: #525252;        
}

.stock {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.stock p {
    color: #007BFF;
    font-size: 14px;
}

.stockText {
    font-size: 14px;    
    color: #3895ff;        
}

.quantityText {
    font-size: 14px;    
    color: #a3a3a3;        
}

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    width: 100px;
}

.quantity button {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    color: #a3a3a3;
    background-color: transparent;
    cursor: pointer;
}

.quantity button:hover {
    background-color: #d4d4d4;
}

.stockInfoRight {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 50px;
    align-items: center;
}

@media (max-width: 700px) {
    .stockInfoRight {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}


.trash {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
}