.footer {
    height: auto; 
    background-color: black;
    margin-top: 120px;
    color: white;
    padding: 100px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    font-weight: lighter;
    flex-wrap: wrap; 
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.3);
}

.footer a {
    color: white;
    text-decoration: none; 
}

.footer a:hover {
    text-decoration: underline;
    text-decoration-color: white; 
}

.left {
    width: 300px;
    flex: 1; /* Allow the left section to grow on smaller screens */
}

.right, .middle {
    width: 100px;
    flex: 1; /* Allow the right and middle sections to grow on smaller screens */
}

.left, .middle, .right {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.middle {
    gap: 10px; /* Space between the links */
}

.socials {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column; 
        align-items: center; 
    }

    .left, .right, .middle {
        width: 80%; 
        text-align: center; 
    }

    .socials {
        justify-content: center; 
    }

    .footer a {
        font-size: 16px; 
    }

    .footer {
        padding: 50px 20px;
    }
}
