* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}

@media (max-width: 880px) {
    .navSpacer {
        height: 100px;
    }
}